name: golangci-lint
on: [push, pull_request]

jobs:
  golangci-lint:
    name: lint
    runs-on: ubuntu-latest
    permissions:
      contents: read  # for actions/checkout to fetch code
      pull-requests: read  # for golangci/golangci-lint-action to fetch pull requests
    steps:
      - uses: actions/checkout@v3.5.3
      - name: golangci-lint
        uses: golangci/golangci-lint-action@08e2f20817b15149a52b5b3ebe7de50aff2ba8c5
        with:
          only-new-issues: true
