name: golangci-lint
on: [push, pull_request]

jobs:
  golangci-lint:
    name: lint
    runs-on: ubuntu-latest
    permissions:
      contents: read  # for actions/checkout to fetch code
      pull-requests: read  # for golangci/golangci-lint-action to fetch pull requests
    steps:
      - uses: actions/checkout@v4.2.2
      - name: golangci-lint
        uses: golangci/golangci-lint-action@0a35821d5c230e903fcfe077583637dea1b27b47
        with:
          only-new-issues: true
